<app-header></app-header>

<div class="container" id="main-page-content">

     <app-client-form  [client]=client [formTitle]='clientForTitle'></app-client-form>
     <app-address-form [address]=clientAddress [formTitle]='clientAddressTitle'></app-address-form>
     <app-client-form  [client]=nok [formTitle]='clientNoKTitle'></app-client-form>
     <app-address-form [address]=nokAddress [formTitle]='clientNoKAddressTitle'></app-address-form>

     <mat-card>
         <mat-card-actions align="start">
                <button mat-raised-button color="primary" (click)=submit()>submit</button>
         </mat-card-actions>
        
     </mat-card>
   <div style="height: 80px;"></div>

     <app-footer></app-footer>

</div>